/* body{
    background-color: red;
} */

#picture-profil {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

#picture-admin{
    width: 70px;
    height: 70px;
}
/* 
footer p{

} */

#picture-categorie{
    width: 100px;
    height: 100px;

}