/*------------------------------------------------------- Font ------------------------------------------------------------------ */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,200&display=swap');

:root{
    --main-bg-color: #004870;
    --secondary-bg-color: #007092;
    --bleu-fonce:#003775;
    --bleu-clair: #E2F4FF;
    --palette-rouge:#E60000;
    --palette-rouge-hover:#ff4f55;
    --palette-orange:#FAAE16;
    --gris-clair:#E7E7E7;
    --palette-grey:#9facbd;
    --blanc:#fff;
    --noir:#000;
    --font-primary:'poppins';
}
body{
    background-color: var(--blanc);
}
*{
    font-family: var(--font-primary);
    list-style-type: none;
}
.alert-success{
    font-family: var(--font-primary);
    font-size: 15px;
    width: 100% !important;
    margin: 0 !important;
    height: 60px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-danger{
    font-family: var(--font-primary);
    font-size: 15px;
    width: 100% !important;
    margin: 0 !important;
    height: 60px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: none;
}
/*------------------------------------------------------- BACK OFFICE ------------------------------------------------------------------ */ 
#picture-profil {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    object-fit: cover;
}

#picture-admin{
    width: 70px;
    height: 70px;
}

#picture-categorie{
    width: 100px;
    height: 100px;
}

/*------------------------------------------------------- HEADER ------------------------------------------------------------------ */ 
#logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.logo{
display: flex;
align-items: center;
gap: 35px;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.navbar li{
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    color: var(--blanc);
    font-family: 'poppins';
}
.list-nav{
    display: flex;
}

.item-nav a{
text-decoration: none;
}

.link-nav{
   list-style-type: none;
}

#guest{
    display: flex;
    gap: 15px;
    text-align: center;
    flex-wrap: wrap;
}

#flex-mid{
    display: flex;
    flex-wrap: wrap;
    gap:25px
}

.item-nav{
    display: flex;
    align-items: center;
    gap:15px;
}

#user{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#user li{
justify-content: center;
}

iconify-icon{
    color: var(--blanc);
}

.outils{
display: flex;
gap: 25px;
}
#panier{
display: flex;
align-items: center;
}
#panier > li >a{
    position: relative;
}

#panier-badge {
    background-color: var(--palette-rouge);
    color: var(--blanc);
    border-radius: 50%;
    position: absolute;
    bottom: 22px;
    left: 21px;
    font-family: var(--font-primary);
    padding: 3px 8px;
    font-size: 12px;
    text-align: center;
}

/* Styles pour les nombres à deux chiffres */
#panier-badge.two-digits {
    padding: 7px 8px;
}

#panier-badge.three-digits {
padding: 11px 10px;
}


/*------------------------------------------------------- HEADER ------------------------------------------------------------------ */ 

.categorie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 0 100px;

}
.element-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-cat img{
    width: 260px;
    height: 289px;
}

.element-cat h2{
    font-size: 30px;
    font-weight: 800;
}


    .nos-produits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        padding: 0 150px;
        margin-top: 60px;
        margin-bottom: 100px;
      }



.element-prd{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
    height: 350px;
    gap: 15px;
    border-radius: 20px;
    border: #007092 solid 1px;
    padding: 35px;
}

.element-prd:hover{

        box-shadow: var(--bleu-clair) 0px 13px 47px -5px, var(--bleu-fonce) 0px 8px 16px -8px;

}
.element-prd img:hover{

transform: scale(1.1);

   
}
.bouton-cart {
    position: absolute;
    width: 40px;
    height: 42px;
    bottom: 25px;
    right: 14px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
  }


.img-box{
display: flex;
justify-content: center;

}
.title-h1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: var(--font-primary);
    margin-top: 70px;
    margin-bottom: 90px;
}
.title-h1-nopad{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: var(--font-primary);

}
.title-h2{
    padding-left: 150px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 27px;
    color: var(--secondary-bg-color);
}
.title-h2-nopad{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 27px;
    color: var(--secondary-bg-color);
}
.h2-flex{
    display: flex;
    padding-right: 150px;
    justify-content: space-between;
}
.h2-flex a{
 text-decoration: none;
}

.element-prd li a {
  text-decoration: none;
  text-align: left;
  color: var(--secondary-bg-color);
  font-size: 17px;
  font-weight: 500;
}
.element-prd li p {
    text-align: left;
    color: var(--secondary-bg-color);
    font-size: 17px;
    font-weight: 500;
  }
.element-prd img{
    width: 225px;
    height: 225px;
}

.sugestion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 0 150px;
    margin-top: 60px;
}

/*------------------------------------------------------------------- Index.php -----------------------------------------------------------*/

.first-carousel{
    overflow: hidden;
    position: relative;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: var(--blanc);
}

#arrows-left{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0 40px;
    z-index: 1;
    color: var(--noir);
}
#arrows-right{
    position: absolute;
    top: 50%;
    right:40px;
    transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 1;
    color: var(--noir);
}

#carousel-section  .icon-hover-color{
color: var(--main-bg-color);
}

.carousel-pagination{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.custom-button {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: #007092;
    margin-top: 23px;
    margin-bottom: 60px;
}

#carousel-pagination .custom-button.active {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid var(--noir);
    background-color: #004870;
    margin-top: 23px;
}

.presentation{
    font-family: var(--font-primary);
    font-size: 28px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}

.intro{
    padding: 0 120px;
}

.produit-populaire{
    position: relative;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.produit-populaires{
    position: relative;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 80px;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: var(--secondary-bg-color);
    font-weight: 600;
    font-family: var(--font-primary);

}

.title a{
    color: var(--secondary-bg-color);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-primary);
}

.nos-produits-populaire{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    justify-content: center;
}



.prix-promo{
    text-decoration: line-through;
    color: #B0B0B0 !important;
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}
.element-avis{
    border-radius: 20px;
    border: 1px solid #00989D;
    display: flex;
width: 411px;
height: 242px;
padding: 0px 0px 0px 16.826px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 26px;
}
.nos-avis{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 80px;
    color: var(--bleu-fonce);
    overflow: hidden;
    }
.element-inside{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.pseudo-img{
    display: flex;
gap: 80px;
justify-content: center;
align-items: center;
}
.description{
    color: var(--secondary-bg-color);
    font-size: 13px;
    display: flex;
    border-radius: 17px;
    background: var(--bleu-clair);
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.img-pp{
width: 100px;
height: 100px;
border-radius: 50px;

}



.livraison-qualite-garanti{
display: flex;
justify-content: space-between;
margin-top: 100px;
padding: 0 130px;
}
.livraison-qualite-garanti p{
    color: var(--secondary-bg-color);
    font-family: var(--font-primary);
}

.livraison{
display: flex;
align-items: center;
gap: 10px;

}
.qualite{
display: flex;
align-items: center;
gap: 10px;

}
.garanti{
display: flex;
align-items: center;
gap: 10px;
}

.title-desc{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.text-desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
}














/*------------------------------------------------- Form S'identifier ------------------------------------------------------------------ */ 




.title-h1-sidentifier{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: var(--font-primary);
    margin-top: 110px;
    margin-bottom: 30px;
}
.formulaire-de-connection{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px 250px 40px 250px;
    margin: 0 auto;
    background-color: var(--bleu-clair);
    width:60%;
    border-radius: 20px;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288);

}
.form-sidentifier{
    padding-top : 80px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 0 220px;
}

.input-sidentifier{
    height: 50px;
    width: 737px;
    border-radius: 5px;
    font-size: 25px;
    font-family: var(--font-primary);
    padding-left: 10px;

}

.input-sidentifier:focus{
    border: var(--main-bg-color);
    caret-color: var(--bleu-fonce);
    transform: scale(1.2);
}

.input-sidentifier:hover{
border: var(--bleu-fonce) 2px solid;
}

.input-sidentifier::placeholder{
    font-size: 18px;
    font-weight: 200;
    font-family: var(--font-primary);
    color: var(--main-bg-color);
    padding-left: 10px;
    text-align: center;
}
.submit-connect{
    display: flex;
    justify-content: space-evenly;
}

.btn-first{
    height: 40px;
    width: 180px;
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    cursor: pointer;
}

.btn-first:hover{
    background-color: var(--blanc);
    color: var(--bleu-fonce);
    border: var(--bleu-fonce) 2px solid;
}


/*------------------------------------------------- Form S'enregistrer ------------------------------------------------------------------ */ 

.formulaire-inscription{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 60px 0;
    margin: 0 auto;
    background-color: var(--bleu-clair);
    width:55%;
    border-radius: 20px;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288);
}


.form-senregistrer{
    padding-top : 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 220px;
}

.input-senregistrer{
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-primary);
}
.input-senregistrer-long{
    width: 500px;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-primary);
}
.input-senregistrer-long::placeholder{
    text-align: center;
}
.input-senregistrer-long::placeholder , .input-senregistrer::placeholder{
    font-size: 18px;
    font-weight: 200;
    font-family: var(--font-primary);
    color: var(--main-bg-color);
}
.input-senregistrer-long:focus , .input-senregistrer:focus{
    border: var(--main-bg-color);
    caret-color: var(--bleu-fonce);
    transform: scale(1.2);
}
.input-senregistrer-long:hover , .input-senregistrer:hover {
    border: var(--bleu-fonce) 1px solid;
        box-sizing: border-box;
    }
.nom-prenom{
    display: flex;
    gap: 70px;
}
.autre-info{
    display: flex;
flex-direction: column;
gap: 25px;
margin: 0 auto;
}
.link-register{
color: var(--palette-grey);
font-family: var(--font-primary);
font-size: 14px;
}

.link-register:hover{
    color: var(--font-primary);
    }
.profil-picture {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.input-file{
    width: 100px;
    height: 20px;
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}
.list-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pp input{
    font-family: var(--font-primary);
}


/*------------------------------------------------------- Fiche produit -------------------------------------------------------------- */ 

.fiche-produit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px 80px;
    gap: 46px;
}

.img-price-name{
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
border-radius: 14px;
border: 1px solid var(--secondary-bg-color);
padding-bottom: 10px;
}

.description-avis-quantité{

    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 25px;

}

.title-fiche-produit{
    color: var(--noir);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight:600;
    margin-bottom: 15px;
}

.para{
color: var(--noir);
font-family: var(--font-primary);
font-size: 18px;
font-weight: 500;
line-height: 30.6px;
}

.share{
    display: flex;
    justify-content: space-between;
}
.descriptions, .avis-stars , .panier-long {
        margin-top: 20px;
}
.avis-stars{
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    gap:20px;
}

.panier-long{
    display: flex;
    border-radius: 20px;
    background: var(--palette-rouge);
    width: 256px;
    height: 50px;
    padding: 0px 25px;
    align-items: center;
    gap: 30px;
}

.panier-btn{
display: flex;
justify-content: center;
}

.ajouterpanier{
    color: var(--blanc);
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}

.stars{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.stars > p{
    align-self: center;
}
/*------------------------------------------------------- file ariane ------------------------------------------------------------------ */ 

.file-ariane{
display: flex;
margin: 10px 85px;
gap: 15px;
}

.file-ariane a{
    text-decoration: none;
    font-family: var(--font-primary);
    color: var(--noir);
    font-size: 14px;
}

.file-ariane li{
   align-self: center;
}
/*------------------------------------------------------- toggle switch ------------------------------------------------------------------ */ 

.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bleu-clair);
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--bleu-fonce);
    border: 1px solid var(--bleu-fonce);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }


/*------------------------------------------------------- Resume commande ------------------------------------------------------------------ */ 



  .commandes{
    margin: 0 auto;
    padding: 70px 60px;
    font-family: 'Poppins';
    height: 100%;
}
.commandes a{
    text-decoration: none;
    color: black;
}
.commandes a:hover{
    text-decoration: none;
    color: var(--bleu-fonce);
}
.table-commandes {
width: 100%;
font-family: 'Poppins';
border-collapse : separate;
border-spacing : 10px;
box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
border-radius: 10px;
background-color: var(--blanc);
}

.h1-in-tab{
text-align: left;
font-size: 22px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 25px;
background-color: #007092;
color: white;
padding: 8px;
border-radius: 8px;
}

.montant-total{
text-align: end;
}
.commande-heure{
background-color: #E2F4FF;
text-align: left;
font-size: 16px;

}
.commande-heure td {
padding: 4px;
border-radius: 4px;
text-align: center;
}
.title-tr{
background-color: white;
font-size: 14px;
color: #004870;
}

/*------------------------------------------------------- Resume Panier ------------------------------------------------------------------ */ 

.list-panier{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 100px;
    justify-content: space-between;
    margin-top: 50px;
    gap: 209px;

}
.list-panier img{
    width: 150px;
    height: 112px;

}
.first-tab{
    width: 100%;
    font-family: var(--font-primary);
    border-collapse : separate;
    border-spacing : 10px;
    
}
.second-tab{
    width: 100%;
    font-family: var(--font-primary);
    border-collapse : separate;
    border-spacing : 10px;
    
}
.article-panier td a{
    text-decoration: none;
    color: var(--noir);
    }
.article-panier td a:hover{
        text-decoration: none;
        color: var(--bleu-fonce);
}
.article-panier td{
vertical-align: middle;
}

.btn-payez{
    color: var(--blanc);
    font-family: var(--font-primary);
text-align: center;
font-size: 16;
font-weight: 600;
width: 256px;
height: 40px;
padding: 0px 25px;
justify-content: center;
align-items: center;
border-radius: 20px;
background: var(--palette-orange);
border: none;
margin: 0 auto;
}
.btn-payez:hover{
    color: var(--palette-orange);
    font-family: var(--font-primary);
text-align: center;
font-size: 16;
font-weight: 600;
width: 256px;
height: 40px;
padding: 0px 25px;
justify-content: center;
align-items: center;
border-radius: 20px;
background: var(--blanc);
border: 2px solid var(--palette-orange);

}

.btn-supprimer{
color: var(--blanc) !important;
font-family: var(--font-primary);
text-align: center;
font-size: 14;
font-weight: 600;
width: 150px;
height: 35px;
padding: 0px 25px;
justify-content: center;
align-items: center;
border-radius: 20px;
background: var(--palette-rouge);
border: none;
margin: 0 auto;
}

.btn-supprimer:hover{
    color: var(--blanc);
    background: var(--palette-rouge-hover);
    }











/*------------------------------------------------------- Footer ------------------------------------------------------------------ */ 

.footer{
display: grid;
grid-template-rows: 1fr 2fr 1fr;
width: 100%;
background-color: var(--main-bg-color);
color: var(--blanc);
font-family: var(--font-primary);
margin-top: 53px;
}
.footer > li{
    list-style-type: none;
}
.footer li a{
    text-decoration: none;
    color: var(--blanc);
}
.footer-top{
    background-color: var(--gris-clair);
    display: flex;
align-items: center;
justify-content: center;
}
.newsletter{
display: flex;
gap: 137px;
align-items: center;
}

#title-newsletter{
    font-size: 26px;
    font-weight: bold;
    color: var(--secondary-bg-color);

}
#icn-send .spin{
    transform: rotate(315deg);
}

.form-newsletter{
    position: relative;
}
.form-newsletter input{
height: 63px;
width: 388px;
border-radius: 20px;
background-color: var(--palette-rouge);
border: 1px solid white;
color: var(--blanc);
}
.form-newsletter a{
    position: absolute;
    top: 20px;
    right: 20px;
}
.form-newsletter ::placeholder {
    color: var(--blanc);
    opacity: 1;
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
  }
input:focus::placeholder {
    color: transparent;
    border: none;
    padding: 10px;
}

input:focus{
    caret-color: white;
    padding-left: 8px; 
}
  





.footer-mid{
margin-top: 40px;
padding: 0 303px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.footer-mid ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-mid ul li{
text-align: left;
font-size: 13px;
}
#title{
font-size: 15px;
font-weight: 600;
margin-bottom: 10px;
}

.footer-bottom{
    padding: 0 303px;
    margin-top: 15px;
    display: flex;
    align-items: center;
justify-content: center;
}
.footer-bottom ul{
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
font-size: 13px;
}


  /* Styles pour le mode sombre */
  body.dark-mode {
    --main-bg-color: #00487000;
    --secondary-bg-color: #ffffffcd;
    --bleu-fonce: #bcbcbc;
    --bleu-clair: #4d4d4d;
    --palette-rouge: #990000;
    --palette-rouge-hover: #ff0000;
    --palette-orange: #ff8c0074;
    --gris-clair: #444444;
    --palette-grey: #777;
    --blanc: #020202b5;
    --noir: #fff;
    --font-primary: 'poppins';
  }
  
  body.light-mode {
    --main-bg-color: #004870;
    --secondary-bg-color: #007092;
    --bleu-fonce: #003775;
    --bleu-clair: #E2F4FF;
    --palette-rouge: #E60000;
    --palette-rouge-hover: #ff4f55;
    --palette-orange: #FAAE16;
    --gris-clair: #E7E7E7;
    --palette-grey: #9facbd;
    --blanc: #fff;
    --noir: #000;
    --font-primary: 'poppins';
  }
  
  /*------------------------------------------------------- Footer ------------------------------------------------------------------ */ 



@media screen and (max-width: 955px) {

    .navbar{
        
        height: 300px;
        
      }

}

@media screen and (max-width: 892px) {

        .navbar{
            
            height: 300px;
            
          }
          .newsletter{
            gap: 0px;
            flex-direction: column;

          }

          .footer-top{
            justify-content: left;
            padding: 0;
          }

          .footer-mid {
            margin-top: 40px;
            padding: 0 20px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: left;
          }
          .footer-bottom{
            padding: 0 20px;

          }
          .footer-bottom ul{
            flex-direction: column;
          }
          .livraison-qualite-garanti {
              
            justify-content: space-between;
            margin-top: 100px;
            flex-direction: column;
            gap:10px;
            padding: 0 20px;
        }
        .nos-produits-populaire{
            grid-template-columns: 1fr;
        }
        .produit-populaires{
            padding: 0;
        }

        .fleche{
            display: none;
        }
        .presentation {
            font-family: var(--font-primary);
            font-size: 18px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
          }
}

@media screen and (max-width: 1288px) {
    .nos-produits-populaire{
        grid-template-columns: 1fr;
    }
    .produit-populaires{
        padding: 0;
    }
    .element-cat {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .categorie {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
      }
      .sugestion{
        display: grid;
grid-template-columns: 1fr;
gap: 15px;
padding: 0;
margin-top: 60px;
      }

      .nos-produits {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 100px;
      }
   
}

@media screen and (max-width: 1444px) {
    .produit-populaires > .title{
        display: none;
    }
   .produit-populaires > .swiper-container {
    display: none;
   }
}

@media screen and (max-width: 1128px) {
    .fiche-produit {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 80px;
        gap: 46px;
      }
}

@media screen and (max-width: 694px) {
    .fiche-produit {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 80px;
        gap: 46px;
      }
      .avis-stars{
        flex-direction: column;
      }
}

@media screen and (max-width: 526px) {
    .submit-connect{
        justify-content: center;
    }
    .formulaire-de-connection{
        padding: 0;
    }
    input{
        font-size: 12px;
    }
    .nom-prenom{
        display: flex;
        flex-direction: column;
flex-direction: column;
gap: 25px;
margin: 0 auto;
    }
    .list-btn{
        justify-content: center;
    }
}
